#center-div {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

#register-btn {
  margin-top: 1vh;
  margin-right: 1vw;
}

#repr-hint {
  margin-bottom: 1vh;
}
