<div id="welcome-div">
  <mat-card>
    <div>
      <h1>Welcome to {{title}}!</h1>
      <h2>Have you had a situation where you need an HDMI
        cable or switch, but you are not sure you have it?</h2>
      <h2>Do you know what you have in the basement, pantry, garage or storage?</h2>
      <h2>This application gives you an overview of this situation!</h2>
    </div>
  </mat-card>
  <div id="login-message">
    <span>To use application you need either login or register!</span>
  </div>
  <app-login-form></app-login-form>
</div>

