<app-greeting></app-greeting>
<div id="center-div">
  <mat-card>
    <form id="login-form" [formGroup]="form">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <label>
            <input formControlName="name" type="text" matInput required>
          </label>
          <mat-error>Name should not be empty!</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <label>
            <input formControlName="password" type="text" matInput required>
          </label>
          <mat-error>Password's size should be at least 3 characters!</mat-error>
        </mat-form-field>
      </p>
      <button id="login-btn" mat-flat-button
              color="primary"
              type="submit"
              [disabled]="!form.valid"
              (click)="loginPerson()">Login</button>
      <button id="register-btn" mat-flat-button
              color="accent"
              routerLink="/register">
        Sign up
      </button>
    </form>
  </mat-card>
</div>

