<div id="center-div">
  <mat-card>
    <h2 *ngIf="itemId == undefined">Add new item</h2>
    <h2 *ngIf="itemId != undefined">Add new <b>sub</b> item for item {{itemId}}</h2>
    <form id="add-item-form" [formGroup]="form">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <label>
            <input formControlName="name" type="text" matInput required>
          </label>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Color</mat-label>
          <label>
            <input formControlName="color" type="text" matInput required>
          </label>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Serial number</mat-label>
          <label>
            <input formControlName="serialNumber" type="text" matInput>
          </label>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Picture path</mat-label>
          <label>
            <input formControlName="picturePath" type="text" matInput required>
          </label>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Size</mat-label>
          <label>
            <input formControlName="size" type="number" matInput required>
          </label>
        </mat-form-field>
      </p>
      <button id="add-item-btn" mat-flat-button
              color="primary"
              type="submit"
              [disabled]="!form.valid"
              (click)="addItem()">Add item</button>
    </form>
  </mat-card>
</div>
